<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.zga">

    <application
        android:name=".MyApplications"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_package_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.commonality.Login_Acty"
            android:label="@string/app_package_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.activity.commonality.ArchiveList_Acty"
            android:label="档案列表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".view.activity.commonality.PeopleList_Acty"
            android:label="人员列表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".view.activity.commonality.Select_Acty"
            android:label="条件查询"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.message.PersonalInfo_Acty"
            android:label="个人基本信息"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

    </application>

</manifest>
